button a {
  text-decoration: none;
}

.navbar {
  
  background-color: rgb(63, 139, 225); /* Set the background color to blue */
  color: white; /* Text color for contrast */
}

.navbar a {
  color: white; /* Ensures that the links within the nav bar are white */
    float: left;
  }
  



  button {
    padding: 10px 20px;
    background-color: #2e6ddb99; /* Button background color */
    color: white; /* Text color */
    border: none;
    border-radius: 10px; /* Adjust this value to change the curvature */
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6594e6; /* Darker shade on hover */
  }


.navbar {
  border-top-left-radius: 8px; /* Adjust the value as needed */
  border-top-right-radius: 8px; /* Adjust the value as needed */
}